@using CCS;
@using CCS.Common;
@using CCS.Models.SYS;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";

}

<div class="mvctool">
    <input id="txtQuery" type="text" class="searchText" />
    <a id="btnQuery" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-search" style="padding-left: 20px;">查詢</span></span></a><div class="datagrid-btn-separator"></div>
    <a id="btnDetails" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-details" style="padding-left: 20px;">詳細</span></span></a><div class="datagrid-btn-separator"></div>
    <a id="btnDelete" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-remove" style="padding-left: 20px;">刪除</span></span></a>
    
    
    @*@Html.ToolButton("btnCreate", "icon-add", "新增", perm, "Create", true)
    @Html.ToolButton("btnCreate", "icon-add", "新增", perm, "Create", true)
    @Html.ToolButton("btnEdit", "icon-edit", "編輯", perm, "Edit", true)
    @Html.ToolButton("btnDelete", "icon-remove", "刪除", perm, "Delete", true)*@
</div>

<table id="List"></table>
<div id="Pager"></div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>


@section scripts{
    @*Jqgrid*@
    <script type="text/javascript">


    $(function () {
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 35
            }).datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 35
            });
        });

        $('#List').datagrid({
            url: '/SYS02/GetList',
            width: $(window).width() - 10,
            methord: 'post',
            height: $(window).height() - 35,
            fitColumns: true,
            sortName: 'Id',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 20,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否區分
            singleSelect: true,//單選模式
            columns: [[
                { field: 'Id', title: 'ID', width: 40, hidden: true },
                { field: 'HelpLink', title: '幫助連結', width: 40 },
                { field: 'Message', title: '異常訊息', width: 200 },
                { field: 'Source', title: '來源', width: 60 },
                { field: 'StackTrace', title: '追蹤', width: 140, align: 'center' },
                { field: 'TargetSite', title: '目標頁', width: 140, align: 'center' },
                { field: 'Data', title: '程式集', width: 100, align: 'center' },
                { field: 'CreateTime', title: '發生時間', width: 65, align: 'center' }
            ]]
        });
        var pager = $('#List').datagrid('getPager');
        $(pager).pagination({
            pageSize: 20,
            showPageList: true,
            pageList: [15, 20, 30, 40, 50],
            beforePageText: '第',
            afterPageText: '頁,共{pages}頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料,共 {total} 筆資料'
        });
    });
    </script>

    @*operation*@
    <script type="text/javascript">
    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
    $(function () {
        $("#btnDetails").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {

                $("#modalwindow").html("<iframe width='100%' height='98%' frameborder='0' src='SYS02/Details?id=" + row.Id + "'></iframe>");
                $("#modalwindow").window({ title: '詳細', width: 700, height: 500, iconCls: 'icon-details' }).window('open');
            } else { $.messageBox5s('提示', '請選擇要操作的行！'); }
        });
        $("#btnQuery").click(function () {
            var queryStr = $("#txtQuery").val();
            //如果查詢準則為空預設查詢全部
            if (queryStr == null) {
                queryStr = "%";
            }
            $('#List').datagrid({ url: 'System/SYS02/GetList?queryStr=' + encodeURI(queryStr) });
        });

    });
    </script>
}
